USE [DSS_ES]
GO
/****** Object:  Table [dbo].[Truong]    Script Date: 12/12/2017 23:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Truong](
	[MaTruong] [nvarchar](5) NOT NULL,
	[TenTruong] [nvarchar](70) NOT NULL,
	[DiaChi] [nvarchar](120) NULL,
	[Website] [nvarchar](75) NULL,
	[TinhThanh] [nvarchar](15) NULL,
	[DVChuquan] [nvarchar](60) NULL,
 CONSTRAINT [PK_Truong] PRIMARY KEY CLUSTERED 
(
	[MaTruong] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Truong] ([MaTruong], [TenTruong], [DiaChi], [Website], [TinhThanh], [DVChuquan]) VALUES (N'ANH', N'Học viện An ninh Nhân dân', N'125 Trần Phú, P. Văn Quán, Hà Đông, Hà Nội', N'hvannd.edu.vn', N'Hà Nội', N'Bộ Công an')
INSERT [dbo].[Truong] ([MaTruong], [TenTruong], [DiaChi], [Website], [TinhThanh], [DVChuquan]) VALUES (N'BKA', N'Đại học Bách khoa Hà Nội', N'Số 1 Đại Cồ Việt, Hai Bà Trưng, Hà Nội', N'https://hust.edu.vn/', N'Hà Nội', N'Bộ Giáo Dục và Đào Tạo')
INSERT [dbo].[Truong] ([MaTruong], [TenTruong], [DiaChi], [Website], [TinhThanh], [DVChuquan]) VALUES (N'BVH', N'học Viện Công Nghệ Bưu Chính Viễn Thông ( Phía Bắc )', N'Km10 Đường Nguyễn Trãi, Quận Hà Đông, Hà Nội', N'http://portal.ptit.edu.vn/', N'Hà Nội', N'Bộ Thông tin và Truyền thông')
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[NhomNganh]    Script Date: 12/12/2017 23:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomNganh](
	[NhomNganh] [int] NOT NULL,
	[TenChuyenNganh] [nvarchar](40) NULL,
 CONSTRAINT [PK_Nganh] PRIMARY KEY CLUSTERED 
(
	[NhomNganh] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NhomNganh] ([NhomNganh], [TenChuyenNganh]) VALUES (1, N'An toàn thông tin')
INSERT [dbo].[NhomNganh] ([NhomNganh], [TenChuyenNganh]) VALUES (2, N'Công nghệ điện từ        ')
INSERT [dbo].[NhomNganh] ([NhomNganh], [TenChuyenNganh]) VALUES (3, N'Công nghệ kỹ thuật máy tính')
/****** Object:  Table [dbo].[ChuyenNganh]    Script Date: 12/12/2017 23:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenNganh](
	[MaNganh] [nvarchar](10) NOT NULL,
	[NhomNganh] [int] NOT NULL,
 CONSTRAINT [PK_ChuyenNganh] PRIMARY KEY CLUSTERED 
(
	[MaNganh] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChuyenNganh] ([MaNganh], [NhomNganh]) VALUES (N'106', 7)
INSERT [dbo].[ChuyenNganh] ([MaNganh], [NhomNganh]) VALUES (N'206', 7)
INSERT [dbo].[ChuyenNganh] ([MaNganh], [NhomNganh]) VALUES (N'207', 9)
/****** Object:  Table [dbo].[TuyenSinh]    Script Date: 12/12/2017 23:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuyenSinh](
	[MaTruong] [nvarchar](5) NOT NULL,
	[MaNganh] [nvarchar](10) NOT NULL,
	[DiemChuan] [real] NOT NULL,
	[ChiTieu] [int] NULL,
	[SLDaTuyen] [int] NULL,
 CONSTRAINT [PK_TuyenSinh] PRIMARY KEY CLUSTERED 
(
	[MaTruong] ASC,
	[MaNganh] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TuyenSinh] ([MaTruong], [MaNganh], [DiemChuan], [ChiTieu], [SLDaTuyen]) VALUES (N'ANH', N'52480201', 16.25, 50, 0)
INSERT [dbo].[TuyenSinh] ([MaTruong], [MaNganh], [DiemChuan], [ChiTieu], [SLDaTuyen]) VALUES (N'BKA', N'KT22', 28.25, 500, 0)
INSERT [dbo].[TuyenSinh] ([MaTruong], [MaNganh], [DiemChuan], [ChiTieu], [SLDaTuyen]) VALUES (N'BKA', N'KT23', 25.75, 120, 0)
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[TruongNganh]    Script Date: 12/12/2017 23:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TruongNganh](
	[MaTruong] [nvarchar](5) NOT NULL,
	[MaNganh] [nvarchar](10) NOT NULL,
	[NamDT] [int] NOT NULL,
	[SoCB] [int] NOT NULL,
 CONSTRAINT [PK_TruongNganh] PRIMARY KEY CLUSTERED 
(
	[MaTruong] ASC,
	[MaNganh] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TruongNganh] ([MaTruong], [MaNganh], [NamDT], [SoCB]) VALUES (N'ANH', N'52480201', 1946, 0)
INSERT [dbo].[TruongNganh] ([MaTruong], [MaNganh], [NamDT], [SoCB]) VALUES (N'BKA', N'KT22', 1969, 0)
INSERT [dbo].[TruongNganh] ([MaTruong], [MaNganh], [NamDT], [SoCB]) VALUES (N'BKA', N'KT23', 1969, 0)
GO
print 'Processed 100 total records'
/****** Object:  ForeignKey [FK_ChuyenNganh_NhomNganh]    Script Date: 12/12/2017 23:14:43 ******/
ALTER TABLE [dbo].[ChuyenNganh]  WITH CHECK ADD  CONSTRAINT [FK_ChuyenNganh_NhomNganh] FOREIGN KEY([NhomNganh])
REFERENCES [dbo].[NhomNganh] ([NhomNganh])
GO
ALTER TABLE [dbo].[ChuyenNganh] CHECK CONSTRAINT [FK_ChuyenNganh_NhomNganh]
GO
/****** Object:  ForeignKey [FK_TruongNganh_ChuyenNganh]    Script Date: 12/12/2017 23:14:43 ******/
ALTER TABLE [dbo].[TruongNganh]  WITH CHECK ADD  CONSTRAINT [FK_TruongNganh_ChuyenNganh] FOREIGN KEY([MaNganh])
REFERENCES [dbo].[ChuyenNganh] ([MaNganh])
GO
ALTER TABLE [dbo].[TruongNganh] CHECK CONSTRAINT [FK_TruongNganh_ChuyenNganh]
GO
/****** Object:  ForeignKey [FK_TruongNganh_Truong]    Script Date: 12/12/2017 23:14:43 ******/
ALTER TABLE [dbo].[TruongNganh]  WITH CHECK ADD  CONSTRAINT [FK_TruongNganh_Truong] FOREIGN KEY([MaTruong])
REFERENCES [dbo].[Truong] ([MaTruong])
GO
ALTER TABLE [dbo].[TruongNganh] CHECK CONSTRAINT [FK_TruongNganh_Truong]
GO
/****** Object:  ForeignKey [FK_TuyenSinh_ChuyenNganh]    Script Date: 12/12/2017 23:14:43 ******/
ALTER TABLE [dbo].[TuyenSinh]  WITH CHECK ADD  CONSTRAINT [FK_TuyenSinh_ChuyenNganh] FOREIGN KEY([MaNganh])
REFERENCES [dbo].[ChuyenNganh] ([MaNganh])
GO
ALTER TABLE [dbo].[TuyenSinh] CHECK CONSTRAINT [FK_TuyenSinh_ChuyenNganh]
GO
/****** Object:  ForeignKey [FK_TuyenSinh_Truong]    Script Date: 12/12/2017 23:14:43 ******/
ALTER TABLE [dbo].[TuyenSinh]  WITH CHECK ADD  CONSTRAINT [FK_TuyenSinh_Truong] FOREIGN KEY([MaTruong])
REFERENCES [dbo].[Truong] ([MaTruong])
GO
ALTER TABLE [dbo].[TuyenSinh] CHECK CONSTRAINT [FK_TuyenSinh_Truong]
GO
